@using SkymeyBlazor.Components.Layout.TopMenu
@inherits LayoutComponentBase



<div class="page">
    <div class="px-4 pt-2">
        <NavMenu />
    </div>

    <main>
        <div class="px-4 pt-2 d-flex justify-content-end">
            <TopMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("MainLayout");
    }
}