@using SkymeyBlazor.Components.Layout.TopMenu
@using SkymeyBlazor.Model.Services
@using Skymey_main_lib.Models.JWT
@inherits LayoutComponentBase




<div class="page container-fluid">
    <div class="px-4 pt-2 ">
        <NavMenu />
    </div>

    <main class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="px-4 pt-2 float-end justify-content-end">
                    <TopMenu />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </div>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>