@page "/weather"
@using SkymeyBlazor.Model.Services
@using Skymey_main_lib.Models
@attribute [StreamRendering]
@inject UserService UserRepository

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (exchanges == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in exchanges)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Trades</td>
                    <td>@forecast.Volume24h</td>
                    <td>@forecast.Blockchain</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ExchangesViewModel> exchanges;

    protected override async Task OnInitializedAsync()
    {
        exchanges = await UserRepository.GetExchanges();
    }
}
